{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "plugins": ["@prettier/plugin-pug"],
  "pugPrintWidth": 120,
  "pugSingleQuote": "true",
  "pugTabWidth": 2
}
