include ./src/mixin/useIcon.pug
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet', href='src/style/main.scss')

    body.flex-wrapper
        //- include ./src/components/header/header.pug
        main.flex-grow
            a(href='/')
                +useIcon('logo')
            .title
                h1.h1 nav
            - const pages = ['404', 'about-company','answers-questions', 'contacts', 'discounts-detail', 'discounts', 'main', 'privacy-policy', 'ui', 'cart', 'cart-order', 'cart-blank-data', 'cart-blank-select-place', 'cart-pay-error', 'cart-pay-success', 'excursion-detail', 'catalog', 'catalog-section']
            ul(
                style='margin-left: 40px; padding: 0; margin-top: 50px; display: flex; flex-direction: column; gap: 20px'
            )
                each page in pages
                    li
                        a(href=`src/pages/${page}/index.html`) #{ page }
        footer.footer footer
        script(type='module', src='src/scripts/main')
