extends ../../layout/index.pug
include ../../mixin/useIcon.pug

block content
    section.cart-status
        .cart-status__content
            .cart-status__content-img
                +useIcon('payment-error')
            .cart-status__content-info 
                h1.h1 Оплата не завершена
                span.body-s-1 Возможно, произошла ошибка. Попробуйте еще раз.
        .cart-status__buttons
            a.button.button__primary.w-full(href='#') Попробовать снова
            .cart-status__changing
                a(href='#' target='_blank') Изменить способ оплаты

        

