extends ../../layout/index.pug
block content
    include ../../components/mainSlider/index.pug
    include ../../components/tabs/index.pug
    include ../../components/recommend/index.pug
    .container.main-discont
        include ../../components/discount/index.pug
        .get-more-btn
            button.button.button__subded  Смотреть ещё
    include ../../components/bottomForm/bottomForm.pug    