include ../../mixin/breadcrumbs.pug

.privacy-policy.container
    +breadcrumbs('#','Главная','Политика конфиденциальности')
    .privacy-sections
        section.privacy-section
            h2.privacy-section__title 1. Общие положения
            ol.privacy-section__list
                li.privacy-section__item
                    | Настоящие Правила обработки персональных данных (далее – «Правила») регулируют правоотношения по обработке персональных данных между Пользователем (Клиентом) и Компанией.
                li.privacy-section__item
                    | Пользователь обязан полностью ознакомиться с настоящими Правилами до момента использования функционала сайта.
                li.privacy-section__item
                    | В случае несогласия с перечисленными Правилами Пользователь должен воздержаться от дальнейшего использования сайта.
                li.privacy-section__item
                    | Настоящие Правила действуют только на территории Российской Федерации.
        section.privacy-section
            h2.privacy-section__title 2. Термины и определения
            ol.privacy-section__list
                li.privacy-section__item
                    | В настоящих Правилах, если из контекста не следует иное, нижеприведенные термины с заглавной буквы имеют следующие значения:
                    ul.privacy-section__sublist
                        li.privacy-section__subitem «Компания» ООО «Городские Круизы», ОГРН 1129847003956, ИНН 7801591742, 198206, г. Санкт-Петербург, пр-кт Героев, д. 31, стр. 1, кв. 498.
                        li.privacy-section__subitem «Персональные данные» персональные данные, которые Пользователь предоставляет о себе (фамилия, имя, отчество; номер телефона; адрес электронной почты; дата рождения).
                        li.privacy-section__subitem «Пользователь» (Клиент) - Посетитель сайта.
                        li.privacy-section__subitem «Услуги» - автобусные, водные, пешеходные экскурсии и прочие услуги, представленные на сайте.
                        li.privacy-section__subitem «Сайт» - www.travelday.ru.
                li.privacy-section__item
                    | Для целей настоящих Правил термины и определения в единственном числе относятся также и к терминам и определенным во множественном числе и наоборот.
        section.privacy-section
            h2.privacy-section__title 3. Правила обработки персональных данных пользователей
            ol.privacy-section__list
                li.privacy-section__item
                    | Компания не проверяет достоверность персональной информации, предоставляемой Пользователями. Однако Компания исходит из того, что Пользователь предоставляет достоверную и достаточную персональную информацию, и поддерживает эту информацию в актуальном состоянии.
                li.privacy-section__item
                    | Под обработкой персональных данных в настоящих Правилах понимается: сбор Персональных данных, их систематизация, накопление, хранение, уничтожение.
                li.privacy-section__item
                    | Цели обработки персональных данных:
                .privacy-section__itemsub 3.3.1 Обработка заказа
                .privacy-section__itemsub 3.3.2 Оценка качества оказания услуг
                .privacy-section__itemsub 3.3.3 Ведение учета клиентов
                .privacy-section__itemsub 3.3.4 Обработка обращений клиентов
                .privacy-section__itemsub 3.3.5 Рекламные цели
                li.privacy-section__item
                    | Пользователь подтверждает, что его принятие Правил (отметка «Я соглашаюсь с Политикой конфиденциальности» или «Я соглашаюсь на обработку персональных данных») означает полное согласие Пользователя со всеми его положениями без исключения.
        section.privacy-section
            h2.privacy-section__title 4. Технологии «Cookie», используемые Компанией на Сайте