extends ../../layout/index.pug
include ../../mixin/useIcon.pug

block content
    section.container.mt-page.cart-section
        .cart-body
            .cart-body__top
                .cart-body__top-left
                    .cart-title
                        a.arrow-back(href='#')
                            +useIcon('arrow-circle')
                            span Назад
                        .cart-title__block
                            h1.h1.cart-title__text Корзина
                                span.badge 2
                            a(href='javascript:void(0)')
                                span.body-s-1.text-gray Удалить все
                    .cart-body__content
                        .cart-gift
                            +useIcon('cart-gift')
                            span.body-s-2.violet При покупке получите подарок
                        ul.cart-list
                            li.cart-list__item
                                article.cart-card
                                    img.cart-cart__img(
                                        src='https://placehold.co/600x400',
                                        alt='cart-item-img',
                                        loading='lazy'
                                    )
                                    .cart-card__content
                                        .cart-card__title
                                            h3.body-m-3 Экскурсия по Москве на красном двухэтажном автобусе
                                            label.checkbox
                                                input(type='checkbox')
                                                span
                                        ul.cart-card__list
                                            li.cart-card__list-item
                                                +useIcon('shedule')
                                                span.body-s-1 Пятница, 21 марта 2025 г.
                                            li.cart-card__list-item
                                                +useIcon('shedule-time')
                                                span.body-s-1 10:00
                                            li.cart-card__list-item
                                                +useIcon('group')
                                                span.body-s-1 1 взрослый, 2 ребенка
                                            li.cart-card__list-item
                                                +useIcon('shedule-plus')
                                                span.body-s-1 Обед 3 шт, доп. услуга
                                        .cart-card__price
                                            .card__price
                                                span.card__current-price.body-xl-3.violet 4400 ₽
                                                span.card__old-price.body-s-2 5 200 ₽
                                            .c-flex.c-flex-center.gap-8
                                                button.button.button__on-color
                                                    +useIcon('delete')
                                                button.button.button__on-color
                                                    span Изменить

                .cart-body__top-right
                    aside.cart-aside zakaz
                        button.button.button__primary.w-full К оформлению
