.recommend {
    padding-top: 4rem;

    .recommend-content {
        @include card-grid(3, 1.5rem);
        padding-top: 2.5rem;

        @media (max-width:68.75rem) {
            @include card-grid(2, 1rem);
        }

        @media (max-width:46.875rem) {
            @include card-grid(1, 1.5rem);
            padding-top: 1rem;
        }
    }

    .container {
        padding: 0 .25rem;
    }

    .get-more-btn {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .button {
            max-width: 19.9375rem;
            width: 100%;
            padding: 1.4063rem .7rem;
        }
    }
}