.discount-detail {
    padding-top: 9.6875rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    @media(max-width: $s1000) {
        padding-top: 7.1875rem;
    }

    @media(max-width: $s640) {
        row-gap: 2.5rem;;
    }

    &__container-1 {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        max-width: 53rem;
        margin-inline: auto;

        @media(max-width: $s640) {
            row-gap: 1.5rem;;
        }
    }

    &__title {
        width: 100%;

        .breadcrumbs {
            margin-bottom: 0;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
        color: $gray700;
    }

    &__description-list {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
            
        p {
            color: $gray700;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
        color: $gray700;
        @include adaptive-font(16, 15);
        font-weight: 300;

        @media(max-width: $s540) {
            font-weight: 400;
        }
    }

    &__item {
        position: relative;
        padding-left: 1.25rem;
        
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.5rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $violet;
            border-radius: 50%;
        }
    }

    &__container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
    }

    &__participating {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        @media(max-width: $s1280) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        @media(max-width: 48rem) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
    }

    .button.button__subded {
        max-width: 20rem;
        width: 100%;
        height: 4rem;
    }

    &__container-3 {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;

        .discount-container {
            display: none;
        }

        .button {
            margin-inline: auto;
        }
    }

    &__more-discounts {
        max-width: 80.25rem;
    }
}