$maxWidth: 1920;
$s1400: 87.5rem;
$s1280: 80rem;
$s1100: 68.75rem;
$s1000: 62.5rem;
$s970: 60.625rem;
$s850: 53.125rem;
$s640: 40rem;
$s540: 33.75rem;
$s340: 21.25rem;
$containerWidth: 72.5rem;
$zCenterContainer: 50;
$zOverlay: 49;
$zModal: 51;
$zHeader-menu: 50;

$violet: rgba(127, 86, 217, 1);
$violetHover: rgba(112, 76, 191, 1);
$lightViolet: rgba(245, 240, 254, 1);
$gray300: rgba(179, 179, 179, 1);
$pink: rgba(245, 95, 127, 1);
$pinkHover: rgba(226, 80, 111, 1);
$gray50: rgba(245, 245, 245, 1);
$gray150: rgba(235, 235, 235, 1);
$textBaseGray: rgba(166, 166, 166, 1);
$white: rgba(255, 255, 255, 1);
$pinkLight: rgba(255, 82, 119, 0.1);
$black: rgba(26, 26, 26, 1);
$white70: rgba(255, 255, 255, 0.7);
$grayBorder: rgba(217, 217, 217, 1);
$gray100: rgba(241, 241, 241, 1);
