$maxWidth: 1920;
$s1400: 87.5rem;
$s1280: 80rem;
$s1100: 68.75rem;
$s1000: 62.5rem;
$s970: 60.625rem;
$s850: 53.125rem;
$s640: 40rem;
$s540: 33.75rem;
$s340: 21.25rem;
$containerWidth: 72.5rem;
$zCenterContainer: 50;
$zOverlay: 49;
$zModal: 51;
$zHeader-menu: 50;

$textColor: rgba(51, 51, 51, 1);
$grayColor: rgba(51, 51, 51, 0.04);
$grayHover: rgba(51, 51, 51, 0.1);
$grayDisabled: rgba(51, 51, 51, 0.04);
$greenActive: rgba(130, 189, 69, 1);
$siteColor: rgba(255, 255, 255, 1);
$white: rgba(255, 255, 255, 1);
$disabledArrow: rgba(51, 51, 51, 0.2);
$greenAccent: rgba(113, 166, 59, 1);
$greyBtn: rgba(51, 51, 51, 0.05);
$whiteHover: rgba(255, 255, 255, 0.6);
$whiteDisabled: rgba(255, 255, 255, 0.2);
$inputBorderHover: rgba(51, 51, 51, 0.7);
$errorColor: rgba(235, 71, 71, 1);