$maxWidth: 1920;
$s1400: 87.5rem;
$s1280: 80rem;
$s1100: 68.75rem;
$s1000: 62.5rem;
$s970: 60.625rem;
$s850: 53.125rem;
$s640: 40rem;
$s540: 33.75rem;
$s340: 21.25rem;
$containerWidth: 72.5rem;
$zCenterContainer: 50;
$zOverlay: 49;
$zModal: 51;
$zHeader-menu: 50;

$violet: rgba(127, 86, 217, 1); // #7F56D9
$violetHover: rgba(112, 76, 191, 1); // #704CBF
$lightViolet: rgba(245, 240, 254, 1); // #F5F0FE
$gray300: rgba(179, 179, 179, 1); // #B3B3B3
$pink: rgba(245, 95, 127, 1); // #F55F7F
$pinkHover: rgba(226, 80, 111, 1); // #E2506F
$gray50: rgba(245, 245, 245, 1); // #F5F5F5
$gray150: rgba(235, 235, 235, 1); // #EBEBEB
$textBaseGray: rgba(166, 166, 166, 1); // #A6A6A6
$white: rgba(255, 255, 255, 1); // #FFFFFF
$pinkLight: rgba(255, 82, 119, 0.1); // #FF5277 (10% opacity)
$black: rgba(26, 26, 26, 1); // #1A1A1A
$white70: rgba(255, 255, 255, 0.7); // #FFFFFF (70% opacity)
$grayBorder: rgba(217, 217, 217, 1); // #D9D9D9
$gray100: rgba(241, 241, 241, 1); // #F1F1F1
$gray500: rgba(143, 143, 143, 1); // #8F8F8F
$gray700: rgba(102, 102, 102, 1); // #666666

