.discount {
    .discount-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .check-all {
            display: flex;
            align-items: center;
            gap: .5rem;

            svg {
                display: flex;
            }
        }
    }

    .swiper-discount {
        padding-top: 1.25rem;

        .swiper-slide-discount {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            img {
                overflow: hidden;
                aspect-ratio: 408/224;
                width: 100%;
                height: 100%;
                border-radius: 1.75rem;
            }
        }
    }
}