.card {
    overflow: hidden;
    position: relative;
    border-radius: 1.25rem;
    max-height: 462px;
    height: 100%;
    &--bordered {
        border: 0.25rem solid $violet;
    }

    .swiper-card {
        position: relative;
        border-radius: 0.75rem;
        overflow: hidden;
    }

    .swiper-pagination {
        bottom: 0.75rem !important;

        .swiper-pagination-bullet {
            margin: 0 0.3125rem !important;
            width: 0.375rem;
            height: 0.375rem;
            background: rgba(255, 255, 255, 0.6);
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: $white !important;
            }
        }
    }

    &__slider {
        position: absolute;
        inset: 0;
    }

    &__label {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        z-index: 2;
        padding: 7px 12px;
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 2px;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.2;
        border-radius: 1.5rem;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1cap;
        }
    }

    &__image {
        aspect-ratio: 412/224;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__time {
        display: flex;
        gap: 0.1875rem;
        align-items: center;
        .icon {
            width: 16px;
            height: 16px;
        }
        p {
            color: $textBaseGray;
        }
    }
    &__text {
        padding: 0.75rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        padding-top: 242px;
        height: 100%;
        @media (max-width: 46.875rem) {
            padding: 0.75rem 0.75rem 1rem 0.75rem;
        }
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card__excursion {
                display: flex;
                gap: 0.4375rem;
                color: $textBaseGray;
            }
        }

        .card__variants {
            padding-top: 0.75rem;
            display: flex;
            gap: 0.25rem;
            cursor: pointer;

            .card__variant {
                background-color: $gray50;
                padding: 0.4688rem 0.75rem;
                border-radius: 2rem;
                color: $gray500;
            }
        }
    }
    &__title {
        padding-top: 0.375rem;
        max-width: 23.75rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__bottom {
        padding-top: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        .card__price-desc {
            color: $textBaseGray;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .card__current-price {
            &.violet {
                color: $violet;
            }
        }

        .card__old-price {
            color: $textBaseGray;
            position: relative;
            text-decoration: line-through;
            text-decoration-color: rgba(112, 112, 112, 1);
        }
        &--grouped {
            flex-direction: column;
        }
        &--small {
            gap: 0;
            align-items: flex-start;
            .card__current-price {
                font-size: 20px;
            }
        }
    }
}
