.bottom-form 
    .container 
        .bottom-form__container
            .bottom-form__container-left 
                .bottom-form__container-left-title
                    h2.h2  Хотите быть в курсе новых экскурсий и скидок?
                    p.body-m-2 Подпишитесь на нашу почтовую рассылку!
                form.form-inner 
                    .form-item 
                        .input-container
                            input(type="text" placeholder="Электронная почта")      
                        button.button.button__secondary Подписаться
                    .form-descripion 
                        .body-caption-m-1 Оставляя свои персональные данные, вы соглашаетесь с 
                            span 
                                a(href="#") Политикой конфиденциальности

            .bottom-form__container-right
                .bottom-form__container-right-img
                    img(src="/public/images/bottomForm/bottomForm.png" alt="" srcset="")
