.main-discont {
    margin-top: 5rem;

    .discount-container {
        .check-all {
            display: none;
        }

        .title {
            .h4 {
                font-weight: 600;
                @include adaptive-font(44, 22);
                line-height: 120%;

                @media (max-width: $s540) {
                    font-weight: 600;
                    font-size: 1.375rem;
                }
            }

            .swiper-discount {
                padding-top: 2.5rem;
            }
        }
    }

    .swiper-discount {
        padding-top: 2.5rem;
    }
}
