extends ../../layout/index.pug
include ../../mixin/discountCard.pug
include ../../mixin/useIcon.pug

block content
    .mt-page
        .container
            .discount__title
                a.page-back(href='#')
                    +useIcon('arrow')
                    span Назад
                h1.h1 Акции и скидки
            .discount__content
                ul.discount__list
                    li.discount__item
                        +discountCard("Скидка 5% за подписку на рассылку", "/public/images/discountSlider/swiperDiscount.png")
                    li.discount__item
                        +discountCard("Для ребенка до 12 лет — бесплатно", "/public/images/discountSlider/swiperDiscount2.png")
                    li.discount__item
                        +discountCard("Приведи друга — получи бонус", "/public/images/discountSlider/swiperDiscount3.png")
                    li.discount__item
                        +discountCard("Скидка 5% за подписку на рассылку", "/public/images/discountSlider/swiperDiscount.png")
                    li.discount__item
                        +discountCard("Для ребенка до 12 лет — бесплатно", "/public/images/discountSlider/swiperDiscount2.png")
                    li.discount__item
                        +discountCard("Приведи друга — получи бонус", "/public/images/discountSlider/swiperDiscount3.png")
                    li.discount__item
                        +discountCard("Скидка 5% за подписку на рассылку", "/public/images/discountSlider/swiperDiscount.png")
                    li.discount__item
                        +discountCard("Для ребенка до 12 лет — бесплатно", "/public/images/discountSlider/swiperDiscount2.png")
                    li.discount__item
                        +discountCard("Приведи друга — получи бонус", "/public/images/discountSlider/swiperDiscount3.png")
                .load-more
                    button.button.button__subded Посмотреть ещё

                ul.pagination-container.mt-40-24
                    li.button-pagination.prev
                        +useIcon('arrow-pag')
                    li.pagination-number 1
                    li.pagination-number 2
                    li.pagination-number 3
                    li.pagination-number 4
                    li.pagination-number 5
                    li.button-pagination.next
                        +useIcon('arrow-pag')
        include ../../components/bottomForm/bottomForm.pug
