.date {
    &-button {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 18px 16px;
        background-color: $gray50;
        border-radius: 16px;
        .icon {
            width: 24px;
            height: 24px;
        }
        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.dp {
    &-custom {
        &-header {
            display: grid;
            gap: 10px;
        }
    }
}

.ui-datepicker {
    width: unset;
    &-header {
        border: unset;
        background-color: transparent;
        .ui-state-disabled {
            display: none;
        }
        .ui-datepicker-next.ui-corner-all,
        .ui-datepicker-prev.ui-corner-all {
            box-shadow: 0px 2px 15px 0px #0000000f;
            border-radius: 50%;
            &:hover {
                background-color: unset;
                border: unset;
            }
        }
        .ui-icon {
            // width: 40px;
            // height: 40px;

            &.ui-icon-circle-triangle-e {
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.99999 4.99999L1 9' stroke='%233D3D3D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                background-position: center;
            }
            &.ui-icon-circle-triangle-w {
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.99999 4.99999L1 9' stroke='%233D3D3D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                background-position: center;
                transform: rotate(180deg);
            }
        }
    }
}
.ui-widget.ui-widget-content,
.comiseo-daterangepicker > .comiseo-daterangepicker-main.ui-widget-content {
    border: unset;
}

.comiseo-daterangepicker-presets,
.comiseo-daterangepicker-calendar {
    height: unset;
    padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: unset;
    background-color: unset;
}
.comiseo-daterangepicker-buttonpanel {
    margin-top: 16px;
    width: 100%;
}
.comiseo-daterangepicker .ui-datepicker .ui-datepicker-today .ui-state-highlight {
    background-color: unset;
    border-radius: 12px;
    a {
        color: white !important;
    }
}
.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    background-color: unset;
    color: #3c3c3c;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: $gray50;
    color: #3c3c3c;
}

.ui-datepicker td span,
.ui-datepicker td a {
    padding: 14px 15px;
    @include useMediaSize(768px) {
        padding: 12px;
    }
}
.ui-datepicker-current-day {
    background-color: $violet !important;
    border-radius: 12px;
    a {
        color: white !important;
    }
}
.range {
    &-start {
        background-color: #7f56d9 !important;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        a {
            color: white !important;
        }
        &.range-end {
            border-radius: 12px !important;
        }
    }
    &-end {
        background-color: #7f56d9 !important;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        a {
            color: white !important;
        }
    }
}
.comiseo-daterangepicker-buttonpanel button {
    margin: 0 auto;
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: $violet;
    font-size: 14px;
    font-weight: 500;
    color: white;
    &:hover {
        background-color: $violet;
        border: unset;
        color: white;
    }
}
.comiseo-daterangepicker {
    box-shadow: 0px 2px 15px 0px #0000001f;
    padding: 20px;
    border-radius: 28px;
    background-color: white;
    display: flex;
    flex-direction: column;

    @include useMediaSize(769px) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 700px;
        height: 100%;
        top: 110px !important;
        .ui-datepicker-multi .ui-datepicker-group table {
            margin: 0;
            width: 100%;
        }
    }
    &-main {
        display: flex;
        // flex-direction: column-reverse;
        flex-direction: column;
    }
    &-calendar {
        border: unset;
    }
    &-presets {
        .ui-menu {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-top: 16px;
        }
        .ui-menu-item {
            .ui-state-active {
                color: unset;
                margin: 0;
            }
            & > * {
                padding: 14px 12px;
                border-radius: 16px;
                background-color: #f5f5f5;
                font-size: 13px;
                letter-spacing: -1px;
                border: unset !important;
                &:hover {
                    background-color: #ebebeb;
                    color: #3c3c3c;
                }
            }
        }
    }
    &-triggerbutton {
        padding-left: 28px;
        padding-right: 0;
        font-size: 15px ;
        font-weight: 500 ;
        font-family: "Geologica", sans-serif;
        .ui-button {
            &-icon {
                left: 0;
                width: 20px;
                height: 20px;
                margin-top: 0;
                transform: translateY(-50%);
                &.custom-date-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3C10 2.44772 9.55228 2 9 2C8.44772 2 8 2.44772 8 3V4H7C4.79086 4 3 5.79086 3 8V10V17C3 19.2091 4.79086 21 7 21H17C19.2091 21 21 19.2091 21 17V10V8C21 5.79086 19.2091 4 17 4H16V3C16 2.44772 15.5523 2 15 2C14.4477 2 14 2.44772 14 3V4H10V3ZM8 6V6.5C8 7.05228 8.44772 7.5 9 7.5C9.55228 7.5 10 7.05228 10 6.5V6H14V6.5C14 7.05228 14.4477 7.5 15 7.5C15.5523 7.5 16 7.05228 16 6.5V6H17C18.1046 6 19 6.89543 19 8V9H5V8C5 6.89543 5.89543 6 7 6H8ZM5 11H19V17C19 18.1046 18.1046 19 17 19H7C5.89543 19 5 18.1046 5 17V11Z' fill='%233C3C3C' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
                    background-position: center;
                }
            }
        }
        &.ui-button {
            min-width: unset;
        }
        &:hover {
            background-color: unset;
            border: unset;
        }
        &:focus {
            background-color: unset;
            border: unset;
        }
    }
    &-buttonpanel {
        @include useMediaSize(768px) {
            display: flex;
            flex-direction: row-reverse;
        }
        .ui-priority-secondary {
            background-color: #F5F5F5;
            color: black;
        }
    }
    .ui-datepicker.ui-widget-content.ui-datepicker-multi-12 {
        @include useMediaSize(769px) {
            width: 100% !important;
        }
    }
}
.comiseo-daterangepicker-right .comiseo-daterangepicker-calendar {
    @include useMediaSize(769px) {
        padding: unset;
        height: 50dvh;
        overflow-y: auto;
    }
}
.ui-datepicker-multi .ui-datepicker-group {
    @include useMediaSize(769px) {
        width: 100%;
        float: unset;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.comiseo-daterangepicker-presets .ui-menu-item {
    font-family: "Geologica", sans-serif;
}