.privacy-policy.container {
  max-width: 53rem;
  padding-top: 7.5rem;
}
.privacy-policy {
  .privacy-section {
    margin-top: 2rem;
    li {
      margin-top: 0.75rem;
      @include adaptive-font(16, 15);
      &:first-child {
        margin-top: 1.25rem;
      }
    }
    &__title {
      font-weight: 600;
      @include adaptive-font(28, 16);
      color: $black;
      line-height: 120%;
      letter-spacing: -0.01em;
    }
    &__list {
      margin-left: 1.25rem;
    }
    &__item {
      font-weight: 300;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: $gray700;
    }
    &__sublist {
      margin-left: -1.0625rem;
    }
    &__itemsub {
      margin-left: -1.0625rem;
      font-weight: 300;
      @include adaptive-font(16, 15);
      line-height: 150%;
      letter-spacing: -0.02em;
      color: $gray700;
      margin-top: 0.75rem;
    }
    &__subitem {
      position: relative;
      padding-left: 1.25rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $violet;
        border-radius: 50%;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      padding-bottom: 5rem;
    }
  }
}
