.page-404
    .page-404-conteiner
        .page-404-text 404
        .h1 Страница не найдена
        .body-m-1-pharagraph Такой страницы нет или она была удалена, попробуйте вернуться на главную и начать сначала
        a(href="#").button.button__primary Вернуться на главную