include ../../mixin/card.pug

section.recommend
    .recommend-title
        h3.h1 Рекомендуем вам
    .recommend-content
        +card(false, "Акция", ["https://placehold.co/600x400","https://placehold.co/600x400"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["вариант 1", "вариант 2"], true, "4 200 ₽", "4 400 ₽")
        +card(false, "Акция", ["https://placehold.co/600x400","https://placehold.co/600x400"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["вариант 1", "вариант 2"], true, "4 200 ₽", "4 400 ₽")
        +card(false, "Акция", ["https://placehold.co/600x400","https://placehold.co/600x400"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["вариант 1", "вариант 2"], true, "4 200 ₽", "4 400 ₽")
