.input-search-content-step1 
    .h4 Куда отправимся сегодня?
    .tabs-items 
        .tab-item(data-city='SPB').body-s-2 Санкт-Петербург
        .tab-item(data-city='MSK').body-s-2 Москва
        .tab-item(data-city='KZN').body-s-2 Казань
        .tab-item(data-city='NN').body-s-2 Нижний Новгород