.date {
    &-button {
        display: flex;
        align-items: center;
        gap: 4px;
		padding: 18px 16px;
		background-color: $gray50;
		border-radius: 16px;
		.icon {
			width: 24px;
			height: 24px;
		}
        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
