.c-flex {
    display: flex;
}
.c-flex-center {
    align-items: center;
}
.c-flex-column {
    flex-direction: column;
}
.c-flex-between {
    justify-content: space-between;
}
.gap-8 {
    gap: 8px;
}
.gap-16 {
    gap: 16px;
}
.gap-24 {
    gap: 24px;
}

.mt-24 {
    margin-top: 24px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-8 {
    margin-top: 8px;
}

.w-full {
    width: 100%;
}

.violet {
    color: $violet;
}
.text-gray {
    color: $textBaseGray;
}
