extends ../../layout/index.pug
include ../../mixin/breadcrumbs.pug

block content
    .mt-page
        .container
            .c-flex.c-flex-column.gap-12
                a.page-back(href='#')
                    +useIcon('arrow')
                    span Главная
                h1.h1 Политика конфиденциальности
            .page__content.mt-32.privacy__list
                ul
                    li Общие положения
                        ul.small
                            li Настоящие Правила обработки персональных данных (далее – «Правила») регулируют правоотношения по обработке персональных данных между Пользователем (Клиентом) и Компанией.
                            li Пользователь обязан полностью ознакомиться с настоящими Правилами до момента использования функционала сайта.
                            li В случае несогласия с перечисленными Правилами Пользователь должен воздержаться от дальнейшего использования сайта.
                            li Настоящие Правила действуют только на территории Российской Федерации.
                    li Термины и определения
                        ul.small
                            li В настоящих Правилах, если из контекста не следует иное, нижеприведенные термины с заглавной буквы имеют следующие значения:
                                ul.small.small--points
                                    li «Компания» ООО «Городские Круизы», ОГРН 1129847003956, ИНН 7801591742, 198206, г. Санкт-Петербург, пр-кт Героев, д. 31, стр. 1, кв. 498.
                                    li «Персональные данные» персональные данные, которые Пользователь предоставляет о себе (фамилия, имя, отчество; номер телефона; адрес электронной почты; дата рождения).
                                    li «Пользователь» (Клиент) - Посетитель сайта.
                                    li «Услуги» - автобусные, водные, пешеходные экскурсии и прочие услуги, представленные на сайте.
                                    li «Сайт» - www.travelday.ru.
                            li Для целей настоящих Правил термины и определения в единственном числе относятся также и к терминам и определенным во множественном числе и наоборот.
                    li Правила обработки персональных данных пользователей
                        ul.small
                            li Компания не проверяет достоверность персональной информации, предоставляемой Пользователями. Однако Компания исходит из того, что Пользователь предоставляет достоверную и достаточную персональную информацию, и поддерживает эту информацию в актуальном состоянии.
                            li Под обработкой персональных данных в настоящих Правилах понимается: сбор Персональных данных, их систематизация, накопление, хранение, уничтожение.
                            li Цели обработки персональных данных:
                    li Технологии «Cookie», используемые Компанией на Сайте