.video {
    &-container {
        position: relative;
        width: 740px;
        height: 447px;
        border-radius: 40px;
        overflow: hidden;
        margin: 0 auto;

        @media (max-width: 768px) {
            align-self: center;
            aspect-ratio: 1.91/1;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;

            &.active {
                display: block;
            }
        }
    }
    &-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .play-button {
            width: 80px;
            height: 80px;
            background-color: rgba($violet, 0.7);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            @media (max-width: 768px) {
                width: 48px;
                height: 48px;
            }

            &:hover {
                background-color: rgba($violet, 0.9);
                transition: all 0.3s ease;
            }
        }
    }
}

.company-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    h5 {
        font-weight: 600;
        @include adaptive-font(36, 22);
        line-height: 120%;
    }
    &__infos {
        max-width: 740px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        p {
            color: $gray700;
        }
        .block {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        @include useMediaSize(768px) {
            gap: 32px;
        }
    }

    @media (max-width: 1224px) {
        flex-direction: column;
        &__infos {
            max-width: 100%;
        }
    }

    .cart-aside {
        position: static;
    }

    .contact {
        position: sticky;
        top: 120px;
        overflow-y: auto;
        max-width: 412px;
        height: fit-content;
        &-blocks {
            &__title {
                @include adaptive-font(28, 22);
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.01em;
            }
        }

        @media (max-width: 80.25rem) {
            position: static;
        }
    }
}
