.cart-blank
    .cart-blank__content
        form.cart-blank__form.mt-32-20
            .cart-blank__form-item
                ul.cart-blank__list
                    li.cart-blank__item
                        label.cart-blank__radio
                            input.cart-blank__radio-input(type='radio', name='date', checked, hidden)
                            .item
                                span.title Сегодня
                                span.text-gray 10 марта
                    li.cart-blank__item
                        label.cart-blank__radio
                            input.cart-blank__radio-input(type='radio', name='date', hidden)
                            .item
                                span.title Завтра
                                span.text-gray 11 марта
                    li.cart-blank__item
                        button.date-button
                            +useIcon('date')
                            span Выбрать дату
            //- для примера другой стейт показываю
            .cart-blank__form-item
                span.label Направление маршрута
                ul.cart-blank__list
                    li.cart-blank__item
                        label.cart-blank__radio
                            input.cart-blank__radio-input(type='radio', name='naprvalenie', hidden)
                            .item
                                span.title Туда и обратно
                    li.cart-blank__item
                        label.cart-blank__radio
                            input.cart-blank__radio-input(type='radio', name='naprvalenie', hidden, checked)
                            .item
                                span.title В одну сторону
            .cart-blank__form-item
                span.label Направление маршрута
                ul.cart-blank__list
                    li.cart-blank__item
                        label.cart-blank__radio
                            input.cart-blank__radio-input(type='radio', name='naprvalenie', hidden, checked)
                            .item
                                span.title Санкт-Петербург — Петергоф — Санкт-Петербург
            .cart-blank__form-item
                span.label Время отправления
                ul.cart-blank__list
                    each time in ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00']
                        li.cart-blank__item
                            label.cart-blank__radio
                                input.cart-blank__radio-input(type='radio', name='time', hidden)
                                .item
                                    span.title #{ time }
                .badge-error.badge-error__small
                    span.body-s-2 Осталось мало билетов на это время
            .cart-blank__form-item
                span.label Место отправления
                span Невский пр. 35, (станция метро «Невский проспект», угол Думской ул. и Невского пр.)
            .cart-blank__form-item
                span.label Время обратного отправления
                ul.cart-blank__list
                    each time in ['11:00', '12:00', '13:00', '14:00', '15:00']
                        li.cart-blank__item
                            label.cart-blank__radio
                                input.cart-blank__radio-input(type='radio', name='time-2', hidden)
                                .item
                                    span.title #{ time }
            .cart-blank__form-item
                span.label Время обратного отправления
                span Невский пр. 35, (станция метро «Невский проспект», угол Думской ул. и Невского пр.)
            .cart-blank__form-item
                span.label Участники
                ul.cart-blank__main-list
                    li
                        .badge-error.w-full
                            .icon-warning
                                +useIcon('warning')
                            .c-flex.c-flex-column.gap-4
                                span.body-m-3 Доступных билетов больше нет
                                span.body-s-2 Выберите другое время, если нужно больше билетов
                    li.cart-blank__main-item
                        .c-flex.c-flex-column.gap-4
                            span Взрослый
                            span.text-gray.text-14 16+ (РФ и РБ)
                        .cart-blank__count
                            .card__price
                                span.card__current-price.body-xl-3.violet 123 400 ₽
                                span.card__old-price.body-s-2 165 200 ₽
                            .cart-blank__count-value
                                button.cart-blank__count-button.disabled
                                    +useIcon('minus')
                                span.value 0
                                button.cart-blank__count-button
                                    +useIcon('plus')
                                input.input-count(type='hidden', name='count', value='0')
                    li.cart-blank__main-item
                        .c-flex.c-flex-column.gap-4
                            span Взрослый
                            span.text-gray.text-14 16+ (РФ и РБ)
                        .cart-blank__count
                            .card__price
                                span.card__current-price.body-xl-3 1 400 ₽
                            .cart-blank__count-value
                                button.cart-blank__count-button
                                    +useIcon('minus')
                                span.value 2
                                button.cart-blank__count-button
                                    +useIcon('plus')
                                input.input-count(type='hidden', name='count', value='2')
                    li.cart-blank__main-item
                        .c-flex.c-flex-column.gap-4
                            span Взрослый
                            a(href='#', style='color: #7f56d9') Кто относится?
                        .cart-blank__count
                            .card__price
                                span.card__current-price.body-xl-3 1 400 ₽
                            .cart-blank__count-value
                                button.cart-blank__count-button
                                    +useIcon('minus')
                                span.value 2
                                button.cart-blank__count-button
                                    +useIcon('plus')
                                input.input-count(type='hidden', name='count', value='2')

            .cart-blank__form-item
                details.details-block
                    summary.details-title
                        span Для иностранцев
                        .icon
                    .content
                        span.label Участники
                        ul.cart-blank__main-list
                            li.cart-blank__main-item
                                .c-flex.c-flex-column.gap-4
                                    span Взрослый
                                    span.text-gray.text-14 16+ (РФ и РБ)
                                .cart-blank__count
                                    .card__price
                                        span.card__current-price.body-xl-3.violet 123 400 ₽
                                        span.card__old-price.body-s-2 165 200 ₽
                                    .cart-blank__count-value
                                        button.cart-blank__count-button.disabled
                                            +useIcon('minus')
                                        span.value 0
                                        button.cart-blank__count-button
                                            +useIcon('plus')
                                        input.input-count(type='hidden', name='count', value='0')
                            li.cart-blank__main-item
                                .c-flex.c-flex-column.gap-4
                                    span Взрослый
                                    span.text-gray.text-14 16+ (РФ и РБ)
                                .cart-blank__count
                                    .card__price
                                        span.card__current-price.body-xl-3 1 400 ₽
                                    .cart-blank__count-value
                                        button.cart-blank__count-button
                                            +useIcon('minus')
                                        span.value 2
                                        button.cart-blank__count-button
                                            +useIcon('plus')
                                        input.input-count(type='hidden', name='count', value='2')
            .cart-blank__form-item
                span.label Дополнительные услуги
                ul.cart-blank__main-list
                    li.cart-blank__main-item
                        .c-flex.c-flex-column.gap-4
                            span Обед на 1 чел.
                        .cart-blank__count
                            .card__price
                                span.card__current-price.body-xl-3 1 400 ₽
                            .cart-blank__count-value
                                button.cart-blank__count-button
                                    +useIcon('minus')
                                span.value 2
                                button.cart-blank__count-button
                                    +useIcon('plus')
                                input.input-count(type='hidden', name='count', value='2')
            .cart-blank__form-item
                span.label Места
                ul.cart-blank__main-list
                    li.cart-blank__main-item.error
                        span Места не выбраны
                        a.button.button__primary.small(href='#', style='color: #fff') Выбрать места
                    li.cart-blank__main-item
                        span Места не выбраны
                        a.button.button__primary.small(href='#', style='color: #fff') Выбрать места
            .cart-blank__form-item
                .c-flex.c-flex-column.gap-12
                    .c-flex.gap-12.c-flex-center
                        .toggle-pill-dark
                            input#pill4(type='checkbox', name='check', checked)
                            label(for='pill4')
                        span.body-m-3 Любая дополнительная услуга&nbsp;
                            span.violet + 120 ₽
                    .c-flex.gap-12.c-flex-center
                        .toggle-pill-dark
                            input#pill4(type='checkbox', name='check')
                            label(for='pill4')
                        span.body-m-3 Любая дополнительная услуга&nbsp;
                            span.violet + 120 ₽
            hr.mt-32(style='border-top: 1px solid #e5e5e5')
            .cart-blank__footer
                .price.h2
                    span Итого: &nbsp;
                    span 123 400 ₽
                .btns
                    button.button.button__primary(data-modal-target='cart-blank__modal') Сохранить изменения
dialog.modal-confirm.cart-blank__modal
    button.close-button(data-modal-close)
        +useIcon('close')
    .c-flex.c-flex-column.gap-8
        span.body-xl-3 Сохранить изменения?
        p.body-m-1 Без сохранения вам придется заново выбрать параметры для покупки билета
    .mt-32.c-flex.c-flex-center.gap-12
        button.button.button__subded.w-full(data-modal-close) Не сохранять
        button.button.button__primary.w-full Сохранить
