.discount {
    &__title {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem 1.5rem;
        width: 100%;
        @include useMediaSize($s1100) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
            margin-top: 24px;
        }
        @include useMediaSize($s640) {
            grid-template-columns: minmax(0, 1fr);
        }
    }
    &-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 25.75rem;
        transition: all 0.5s ease;

        @media (max-width: $s640) {
            max-width: 100%;
        }

        &__image {
            img {
                width: 100%;
                border-radius: 1.75rem;
                transition: opacity 0.5s ease;
            }
        }

        &__title {
            @include adaptive-font(20, 16);
            transition: color 0.5s ease;
        }

        &:hover {
            .discount-card__image img {
                opacity: 0.7;
            }

            .discount-card__title {
                color: $gray700;
            }
        }
    }
    &-detail {
        &__wrapper {
            width: 100%;
            margin: 0 auto;
            max-width: 53rem;
        }
        &__content {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            img {
                border-radius: 40px;
            }
            p {
                font-weight: 300;
                @include adaptive-font(16, 15);
                line-height: 150%;
                vertical-align: middle;
                color: #666666;
            }
            h3 {
                font-weight: 600;
                line-height: 120%;
                @include adaptive-font(28, 22);
            }
            li {
                position: relative;
                padding-left: 1.25rem;
                font-weight: 300;
                @include adaptive-font(16, 15);
                line-height: 150%;
                vertical-align: middle;
                color: #666666;

                margin-top: 8px;
                &:first-child {
                    margin-top: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0.5rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: $violet;
                    border-radius: 50%;
                }
            }

            @include useMediaSize(768px) {
                margin-top: 24px;
                img {
                    border-radius: 20px;
                }
            }
        }
    }
    &-swiper {
        margin-top: 40px;
        @include useMediaSize(768px) {
            margin-top: 20px;
        }
    }
}

.load-more {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-all {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon {
        display: flex;
        width: 16px;
        height: 16px;
        svg {
            transform: rotate(180deg);
            fill: $gray700;
            stroke: $gray700;
        }
    }
}
