.discounts {
    padding-top: 9.6875rem; 

    @media(max-width: $s1000) {
        padding-top: 7.1875rem;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem; 

        @media(max-width: $s640) {
            row-gap: 1.5rem;;
        }
    }

    &__title {
        width: 100%;

        .breadcrumbs {
            margin-bottom: 0;
        }
    }

    &__list-container {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem 1.5rem; 
        max-width: 80.25rem; 
        width: 100%;

        @media(max-width: $s1100) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 54.5rem;
        }

        @media(max-width: $s640) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.75rem;
        }
    }

    .button {
        max-width: 20rem; 
        width: 100%;
        height: 4rem; 

        @media(max-width: $s640) {
            height: 3.25rem; 
        }
    }
}