.categories {
    &__wrapper {
        max-width: 1316px;
        margin: 0 auto;
        width: 100%;
        position: relative;

        padding: 0 16px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        margin-top: 18px;
        overflow: hidden;
        .swiper-slide {
            width: auto !important;
            margin-right: 8px !important;
        }
    }
    &__item {
        border-radius: 16px;
        padding: 16px;
        border: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 94px;
        max-width: 190px;
        transition: all 0.3s ease;
        cursor: pointer;
        &--last {
            background-color: $gray50;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
        &:hover {
            background-color: $gray50;
        }
        @include useMediaSize(768px) {
            padding: 12px;
            height: 81px;
        }
    }
    &__back {
        margin-bottom: 32px;
        .cart-title__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            @include useMediaSize(768px) {
                gap: 4px;
            }
        }
    }
}

.filter {
    &__body {
        margin-top: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 50px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__item {
        background-color: $gray50;
        border-radius: 16px;
        padding: 12px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
    &__label {
        &--text {
            font-size: 15px;
            font-weight: 500;
        }
    }
    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__aside {
        position: fixed;
        inset: 0;
        z-index: 1000;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &-content {
            width: 480px;
            background-color: white;
            border-top-left-radius: 40px;
            padding: 40px;
            position: absolute;
            right: 0;
            height: 100dvh;
            transform: translateX(300%);
            transition: all 0.3s ease;
        }
        &.active {
            .filter__aside-content {
                transform: translateX(0);
            }
        }
    }
}

@starting-style {
    .filter__aside.active .filter__aside-content {
        transform: translateX(300%);
    }
}

.catalog {
    &__section {
        .recommend-content {
            margin-top: 24px;
        }
    }
}

.assembly {
    &__section {
        margin-top: 80px;
        .container {
            overflow-x: hidden;
        }
        @include useMediaSize(768px) {
            margin-top: 48px;
        }
    }
    &__list {
        margin-top: 40px;
        .swiper-slide {
            width: auto !important;
        }
        @include useMediaSize(768px) {
            margin-top: 16px;
        }
    }
    &__item {
        aspect-ratio: 0.8/1;
        width: 100%;
        max-width: 303px;
        position: relative;
        display: flex;
        align-items: flex-end;
        border-radius: 32px;
        padding: 28px 20px;
        overflow: hidden;
        .text {
            font-size: 22px;
            font-weight: 600;
            color: white;
        }
        @include useMediaSize(768px) {
            padding: 12px;
            max-width: 156px;
            border-radius: 20px;
            .text {
                font-size: 13px;
            }
        }
    }
    &__img {
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.seo {
    &__section {
        margin-top: 80px;
        @include useMediaSize(768px) {
            margin-top: 48px;
        }
    }
    &__content {
        margin-top: 40px;
        @include useMediaSize(768px) {
            margin-top: 12px;
        }
    }
}

.dropdown {
    &__btn {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px;
        border-radius: 16px;
        border: 1px solid #ebebeb;

        font-size: 15px;
        font-weight: 500;
    }
    &__content {
        box-shadow: 0px 2px 15px 0px #0000001f;
        border-radius: 28px;
        background-color: white;
        padding: 16px 20px;
    }
    &__list {
        &-item {
            padding: 8px 0;
            display: block;
            position: relative;
            width: 100%;
            min-width: 160px;
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 10L8 14L16 6' stroke='%237F56D9' stroke-width='2.6' stroke-linecap='round'/%3E%3C/svg%3E%0A")
                        no-repeat center;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
        }
    }
}
.range-slider {
    &__control {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
    }
    &__input {
        padding: 16px 12px;
        border-radius: 16px;
        background-color: #f5f5f5;
        border: 1px solid transparent;
        font-size: 15px;
        max-width: 156px;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:focus {
            border-color: #b3b3b3;
            & + .range-slider__clear-btn {
                display: block;
            }
        }
        &-wrapper {
            position: relative;
        }
    }
    &__clear-btn {
        display: none;
        position: absolute;
        right: 18px;
        top: 0;
        bottom: 0;
    }
    &__line {
        position: relative;
        margin-top: 28px;
        height: 10px;
        &-input {
            -webkit-appearance: none;
            appearance: none;
            height: 2px;
            width: 100%;
            position: absolute;
            background-color: #c6c6c6;
            pointer-events: none;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                pointer-events: all;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border-radius: 50%;
                border: 3px solid #7f56d9;
                cursor: pointer;
                z-index: 10;
                position: relative;
            }

            &::-moz-range-thumb {
                -webkit-appearance: none;
                pointer-events: all;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #c6c6c6;
                cursor: pointer;
                z-index: 10;
                position: relative;
            }

            // &::-webkit-slider-thumb:hover {
            //     background: #f7f7f7;
            // }

            &::-webkit-slider-thumb:active {
                box-shadow:
                    inset 0 0 3px #387bbe,
                    0 0 9px #387bbe;
                -webkit-box-shadow:
                    inset 0 0 3px #387bbe,
                    0 0 9px #387bbe;
            }
        }
    }
}
