extends ../../layout/index.pug
include ../../mixin/useIcon.pug

block content
    section.mt-page
        .container.excursion-section
            .excursion-back
                a.excursion-back__btn(href='#')
                    +useIcon('back')
                    span.text Санкт-Петербург
                h1.h1.excursion-back__title Экскурсия в Пушкин (Янтарная комната, дворец)
            .excursion-content
                .excursion-body
                    .excursion-gallery
                        .swiper.excursion-gallery__swiper.excursion-gallery__swiper-top
                            .swiper-wrapper
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World1', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World2', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World3', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World4', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World5', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World6', alt='')
                                        figcaption.figcaption
                                            span Фото:
                                            span Alex Dumsky / DepositPhotos
                            .excursion-gallery__nav.excursion-gallery__nav--top
                                button.excursion-gallery__button.excursion-gallery__button--prev.button-nav.button-nav__prev
                                    +useIcon('prev')
                                button.excursion-gallery__button.excursion-gallery__button--next.button-nav.button-nav__next
                                    +useIcon('next')
                        .swiper.excursion-gallery__swiper-bottom.excursion-gallery__swiper-bottom
                            .swiper-wrapper
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World1', alt='')
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World2', alt='')
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World3', alt='')
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World4', alt='')
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World5', alt='')
                                .swiper-slide
                                    figure.item
                                        img(src='https://placehold.co/600x400?text=Hello+World6', alt='')
                            .excursion-gallery__nav.excursion-gallery__nav--bottom
                                button.excursion-gallery__button.excursion-gallery__button--prev.button-nav.button-nav__prev
                                    +useIcon('prev')
                                button.excursion-gallery__button.excursion-gallery__button--next.button-nav.button-nav__next
                                    +useIcon('next')
                        .excursion-gallery__badge
                            +useIcon('fire')
                            span.body-s-2 Самая посещаемая в 2024
                    .excursion-ticket
                        include ../../components/ticketTable/index.pug
                    .excursion-descr
                        p.excursion-descr__text Приглашаем вас посетить Пушкин ("Царское Село») - выдающийся образец мировой архитектуры и садово-паркового искусства, входящий в список ЮНЕСКО. Наша экскурсия начнется с осмотра памятника А.С. Пушкину и Лицея (внешне), где учился поэт. Далее, в сопровождении опытного экскурсовода вы посетите жемчужину русского барокко и любимую летнюю резиденцию Екатерины II.
                        ul.excursion-descr__list
                            li.excursion-descr__item
                                span.body-s-1.text-gray Формат экскурсии
                                span.body-m-1 Музей
                            li.excursion-descr__item
                                span.body-s-1.text-gray Формат экскурсии
                                span.body-m-1 Музей
                            li.excursion-descr__item
                                span.body-s-1.text-gray Формат экскурсии
                                span.body-m-1 Музей
                            li.excursion-descr__item
                                span.body-s-1.text-gray Формат экскурсии
                                span.body-m-1 Музей
                            li.excursion-descr__item
                                span.body-s-1.text-gray Формат экскурсии
                                span.body-m-1 Музей
                    .excursion-shedule
                        .excursion-shedule__title
                            h3.h2 Расписание экскурсии
                            .descr.time-shedule
                                +useIcon('time')
                                span.body-m-1.text-gray Длительность — 2 ч 30 мин
                        .excursion-shedule__body
                            .excursion-shedule__item
                                .excursion-shedule__item-title
                                    span.h3(style='margin: 0') Ежедневно
                                    span.body-s-1.text-gray Автобус отправляется с интервалом 1 час
                                ul.excursion-shedule__list
                                    li
                                        span.body-s-2 09:00 – 20:00 (включительно)
                            .excursion-shedule__item
                                .excursion-shedule__item-title
                                    span.h3(style='margin: 0') Июнь – сентябрь, ежедневно
                                ul.excursion-shedule__list
                                    li
                                        span.body-s-2 09:00
                                    li
                                        span.body-s-2 09:00
                                    li
                                        span.body-s-2 09:00

                            .excursion-shedule__footer
                                p.body-s-1.text-gray Дополнительные рейсы смотрите в календаре при бронировании
                        .badge-error.badge-error__info.mt-12
                            .icon-warning
                                +useIcon('warning')
                            p.body-s-2 По понедельникам, средам, пятницам и субботам в 11:30 отправление рейсов от Ул. Инженерной 2-4, у «Спаса на Крови»
                    .excursion-destination
                    .excursion-infos
                    .excursion-faq
                    .excursion-packet
