.cart-payment-status__gift {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    &-top {
        display: flex;
        padding: 24px 20px;
        border-radius: 32px;
        background-color: $gray50;
        gap: 324px;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;
            span {
                font-size: clamp(0.8125rem, 0.6591rem + 0.4545vw, 1rem);
                color: $gray700;
            }
        }
        a {
            padding: 18px 40px;
            color: #fff;
        }
    }
    &-bot {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        text-align: start;
        h3 {
            margin: 0;
        }
        &-social {
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 32px;
            background-color: $gray50;
            padding: 28px;
            .social-title {
                gap: 8px;
                span {
                    font-size: clamp(0.8125rem, 0.6591rem + 0.4545vw, 1rem);
                    color: $gray700;
                }
            }
        }
    }
}
