.cart-payment-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 40px;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        &-img {
            max-width: 100%;
            .icon {
                width: 224px;
                height: 176px;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .button {
            padding: 18.5px 98px;
            color: #FFFFFF;
        }
    }
    &__changing {
        padding: 18.5px 50px;
        a {
            font-weight: 500;
            font-size: 16px;
            color: #8F8F8F;
        }
    }
    @include useMediaSize(900px) {
        gap: 30px;
    }
    @include useMediaSize(640px) {
        gap: 20px;
        &__content {
            &-img {
                max-width: 248px;
                padding: 0 68px;
                .icon {
                    max-width: 100%;
                    height: 88px;
                }
            }
            &-info {
                gap: 4px;
                max-width: 280px;
                line-height: 120%;
                letter-spacing: -2%;
            }
        }
        &__buttons {
            gap: 16px;
            .button {
                padding: 17px 38px;
            }
        }
        &__changing {
            padding: 0;
            a {
                font-size: 15px;
            }
        }
    }
}
