include ../../mixin/card.pug
include ../../mixin/comboTours.pug
.recommend 
    .container 
        .recommend-title 
            .h1 Рекомендуем вам
        .recommend-content 
            +card(true, "Акция", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["вариант 1", "вариант 2"], true, "4 200 ₽", "4 400 ₽" )
            +card(false, "Акция", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], true, "4 200 ₽","4 400 ₽"  )
            +comboTurs("Выгоднее на 2000 ₽", "Пакет экскурсий: на школьные каникулы этой осенью", ["/images/comboTours/comboTurs1.png","/images/comboTours/comboTurs2.png","/images/comboTours/comboTurs3.png"], ["Экскурсия по Москве на красном двухэтажном автобусе с гидом на всех языках мира", "Выставка современной живописи",'Экскурсия по Москве на красном двухэтажном автобусе'], true, "4 200 ₽",'4 400 ₽' )
            +card(false, "Акция", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
            +card(false, "Самая популярная", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
            +card(false, "Выбор посетителей", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
            +card(false, "Акция", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
            +card(false, "Новое", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
            +card(false, "Акция", ["/images/cardSlider/1spb.png", "/images/cardSlider/2spb.png", "/images/cardSlider/2spb.png","/images/cardSlider/2spb.png","/images/cardSlider/2spb.png"], ["Групповая", "Музей"], "24 ч / 48 ч", "Экскурсия по Казани на красном двухэтажном автобусе", ["Сегодня в 16:00", "Сегодня в 17:00"], false, "4 200 ₽", )
        .get-more-btn 
            button.button.button__subded  Посмотреть ещё      