doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet', href='https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='../../../public/vendor/jquery.comiseo.daterangepicker.css')

        script(src='https://code.jquery.com/jquery-3.7.1.js')
        script(src='https://code.jquery.com/ui/1.14.1/jquery-ui.js')
        script(src='../../../public/vendor/moment.min.js')
        script(src='../../../public/vendor/jquery.comiseo.daterangepicker.min.js')

        link(rel='stylesheet', href='../../../src/style/main.scss')

    title 

    body.flex-wrapper
        include ../components/header/index.pug

        main.flex-grow
            block content

        footer.footer
            include ../components/footer/index.pug
        script(type='module', src='../../scripts/main')
