doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet', href='../../../src/style/main.scss')

    title 

    body.flex-wrapper
        include ../components/header/index.pug

        main.flex-grow
            block content

        footer.footer
            include ../components/footer/index.pug
        script(type='module', src='../../main.ts')
