extends ../../layout/index.pug
include ../../mixin/faqAccordeon.pug
include ../../mixin/useIcon.pug

block content
    .mt-page
        .container
            .c-flex.c-flex-column.gap-12
                a.page-back(href='#')
                    +useIcon('arrow')
                    span Главная
                h1.h1 Вопросы и ответы
            .company-info
                .faq-block
                    .h3 Бронирование и оплата
                    .faq-section
                        +faq-accordion([ { question: "Как купить билеты?", answer: "Билеты можно приобрести онлайн и просто показать их с телефона" }, { question: "Можно ли купить сразу несколько экскурсий?", answer: "Да, вы можете добавить несколько экскурсий в корзину и оплатить их одним заказом." }, { question: "Что придет после оплаты?", answer: "После оплаты на ваш email придет электронный билет с QR-кодом." }, { question: "Обязательно ли распечатывать электронный билет?", answer: "Нет, достаточно показать билет с экрана вашего смартфона." }, { question: "Как купить билеты?", answer: "Билеты можно приобрести онлайн и просто показать их с телефона" }, { question: "Можно ли купить сразу несколько экскурсий?", answer: "Да, вы можете добавить несколько экскурсий в корзину и оплатить их одним заказом." }, { question: "Что придет после оплаты?", answer: "После оплаты на ваш email придет электронный билет с QR-кодом." } ], "section1")

                    .h3 Отмена и изменение заказа
                    .faq-section
                        +faq-accordion([ { question: "Как отменить заказ?", answer: "Как отменить заказ?Как отменить заказ?" }, { question: "Как изменить заказ?", answer: "Как отменить заказ?Как отменить заказ?Как отменить заказ?" } ], "section2")
                    .h3 Индивидуальные экскурсии
                    .faq-section
                        +faq-accordion([ { question: "Можно ли заказать индивидуальную экскурсию?", answer: "Можно ли заказать индивидуальную экскурсию?Можно ли заказать индивидуальную экскурсию?" } ], "section3")
                    .h3 Безопасность персональных данных
                    .faq-section
                        +faq-accordion([ { question: "Конфиденциальность персональных данных", answer: "Конфиденциальность персональных данныхКонфиденциальность персональных данных" } ], "section4")
                .contact
                    .cart-aside
                        h3.h3(style='margin: 0') Звоните или пишите по любым вопросам
                        p.mt-8.body-m-1 Мы на связи ежедневно, с 9 утра до 1 ночи

                        ul.mt-24.c-flex.c-flex-column.gap-8
                            li
                                a.c-flex.c-flex-column.gap-4(href='tel:78123341848')
                                    span.body-xl-3.violet 8 812 334-18-48
                                    span.body-s-1 Санкт-Петербург
                            li
                                a.c-flex.c-flex-column.gap-4(href='tel:88005001399')
                                    span.body-xl-3.violet 8 800 500-13-99
                                    span.body-s-1 Вся Россия, бесплатно
                            li
                                a.c-flex.c-flex-column.gap-4(href='mailto:hello@travelday.ru')
                                    span.body-xl-3.violet hello@travelday.ru
                                    span.body-s-1 Электронная почта
                        .c-flex.c-flex-center.gap-12.mt-24
                            a.contacts-blocks__social-link(href='#')
                                i.icon.icon--size-20
                                    +useIcon('wa')
                                | WhatsApp
                            a.contacts-blocks__social-link(href='#')
                                i.icon.icon--size-20
                                    +useIcon('tg')
                                | Telegram
                    .cart-aside.mt-24
                        h3.h3(style='margin: 0') Новости, акции и скидки
                        p.mt-8.body-m-1 В наших социальных сетях
                        .c-flex.c-flex-center.gap-12.mt-24
                            a.contacts-blocks__social-link(href='#')
                                i.icon.icon--size-20
                                    +useIcon('tg')
                            a.contacts-blocks__social-link(href='#')
                                i.icon.icon--size-20
                                    +useIcon('vk')
            .contacts-blocks__item.mt-80-40
                .form-container
                    form.form.contacts_form(novalidate)
                        h2.form__title.h3 Остались вопросы?
                        .form__subtitle Оставьте ваш вопрос, мы свяжемся вами в течение рабочего дня
                        .form__content
                            .form__input
                                label.form__label(for='name') Имя
                                input#name.contacts_form__input--name(type='text', name='name')
                            .form__input
                                label.form__label(for='email') E-mail
                                input#email.contacts_form__input--email(type='email', name='email')
                            .form__textarea
                                label.form__label(for='message') Сообщение
                                textarea#message.contacts_form__input--massage(name='message')
                        .form__bottom
                            button.button.button__primary.form__submit(type='submit') Отправить
                            .form__policy Оставляя свои персональные данные, вы соглашаетесь с
                                |
                                a(href='#') Политикой конфиденциальности
                    .notification
                        .notification__content
                            +useIcon('success-contact-form')
                            h3.h3 Заявка отправлена!
                            .notification__text Мы свяжемся вами в течение рабочего дня
    include ../../components/bottomForm/bottomForm.pug
